.login {
  min-height: 100vh;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    .body {
      padding: 1.5em 1.5em 0;
      background-color: #fff;
      max-width: 27em;
      border-radius: 10px;
      border: 1px solid #e6e7e9;
      .login__form_input {
        padding: 6.5px 11px;
        font-size: 16px;
      }
      .login__form_button {
        width: 100%;
        font-size: 16px;
        height: 40px;
      }
    }
  }
}
